[Unit]
Description=galmon ubxtool
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
# uncomment User and Group to not run as root
#User=ubxtool
#Group=ubxtool
RuntimeDirectory=ubxtool
RuntimeDirectoryPreserve=yes
WorkingDirectory=/run/ubxtool
ExecStart=/usr/local/ubxtool/ubxtool.sh

[Install]
WantedBy=multi-user.target
