text {
  font: 12px sans-serif;
}

th, td {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: monospace;
}

tr:nth-child(even) {
  background: #BFBFBF
}

tr:nth-child(odd) {
  background: #E6E6E6
}

label {
   cursor: pointer;
}

input[type="checkbox"] {
   cursor: pointer;
}

.CellWithComment {
  position:relative;
}

.CellComment {
  display:none;
  position:absolute; 
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:red;
  padding:3px;
  color:red; 
  top:20px; 
  left:20px;
}

.CellWithComment:hover span.CellComment {
  display:block;
}

.centered {
  margin: auto 0px;
  text-align: center;
}

#fields tr {
  vertical-align:top;
}

.Orbits {
  margin-top:3em;
  margin-bottom:1em;
}

.Orbits .Variables {
  display:inline-block;
  vertical-align:top;
  width:28em;
  height:44em;
  overflow:auto;
  position:relative;
}

.Orbits .Variables table {
  font-family:'Roboto Mono',monospace;
  color:#000;
  border-spacing:.5em;
  display:block;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.Orbits .Variables table tr {
  text-align:center;
}

.Orbits .Variables table td {
  font-size:.85em;
}

.Orbits .Drawing {
  display:inline-block;
  vertical-align:top;
  margin-top:.5em;
  width:44em;
  height:44em;
}

.Orbits .Drawing .sats-label {
  font-size:12px;
  fill:#454545;
  font-weight:bold;
  stroke:transparent;
}

.Orbits .Drawing .satellite circle {
  stroke-width:2px;
}

.Orbits .Drawing svg {
  font-family:sans-serif;
  font-size:10px;
  text-anchor:middle;
  fill:none;
  stroke:#000;
  width:100%;
  height:100%;
}
