body {
	height: 100%;
	width: 100%;
	margin: 0;
	float: left;
	background-color: #ccc;
	font-family: verdana, helvetica, arial, sans-serif;
}

#galmongeo {
	border: blue 1px solid;
	margin: 5px;
	padding: 10px;
	width: 98%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#galmoninfo {
	border-top: blue 1px solid;
	margin-bottom: 10px;
}

#combined {
	display: inline-block;
	position: relative;
	background-color: transparent;
	height: 620px;
	width: 100%;
	//margin-left: auto;
	//margin-right: auto;
	margin: 0px;
	padding: 0px;
	border: gray 1px solid;
}

#svgworld {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	display: inline-block;
	// border: green 1px solid;
}

#svggraticule {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	display: inline-block;
	// border: blue 1px solid;
}

#svgobservers {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	display: inline-block;
	// border: blue 1px solid;
}

#svgalmanac {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	display: inline-block;
	// border: blue 1px solid;
}

svg {
	//padding: 20px;
}

path.countries {
	background: yellow;
	stroke-width: 1;
	stroke: #75739F;
	fill: #5EAFC6;
}
path.coverage {
	stroke-width: 1;
	stroke: #888;
	fill: #888;
	fill-opacity: 0.1;
}
path.coverage.down {
	stroke-width: 0;
	fill: transparent;
	fill-opacity: 0;
}
path.observers {
	stroke-width: 1;
	stroke: black;
	fill: black;
	fill-opacity: .75;
}
path.observers.down {
	stroke-width: 1;
	stroke: black;
	fill: red;
	fill-opacity: .75;
}
rect.observers {
	stroke-width: 1;
	stroke: black;
	fill: black;
	fill-opacity: 1;
}
circle.satellites {
	stroke-width: 1;
	stroke: #4F442B;
	//fill: #FCBC34;
}
.radials {
	stroke-width: 1;
	stroke: red;
}
text.labels {
	// stroke-width: 1;
	// stroke: #4F442B;
	// fill: #FCBC34;
	font-family: courier new, courier;
	font-style: italic;
}
circle.centroid {
	fill: #75739F;
	pointer-events: none;
}
rect.bbox {
	fill: none;
	stroke-dasharray: 5 5;
	stroke: #75739F;
	stroke-width: 2;
	pointer-events: none;
}
path.graticule {
	fill: none;
	stroke-width: 1;
	stroke: #9A8B7A;
}
path.graticule.line {
	stroke: #E5E1DE;
}
path.graticule.outline {
	stroke: #9A8B7A;
}

path.merged {
	fill: #9A8B7A;
	stroke: #4F442B;
	stroke-width: 2px;
}
.tooltip {
	font-family: courier new, courier;
	font-style: italic;
	font-size: 12px;
	width: 200px;
	position: relative;
	background-color: #ddd;
	border: solid;
	border-width: 1px;
	border-radius: 2px;
	padding: 2px;
}
